@using Loansv2.Models
@model IEnumerable<Loansv2.Models.Payment>


@if (Model == null || !Model.Any())
{
    <p style="margin-bottom: 15px">Нет данных</p>
}
else
{ 
    <table class="table" style="margin-top: 15px">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentType)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @($"{item.Value:N}")
            </td>
            <td>
                @item.DisplayTypeName()
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", "Payment", new { id = item.Id }, null) |
                @Html.ActionLink("Удалить", "Delete", "Payment", new { id = item.Id }, null) 
            </td>
        </tr>
    }

    </table>
}