@using Loansv2.Models
@using PagedList.Mvc;
@model ProjectIndexViewModel

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Проекты";
}

<h2>Проекты</h2>

<p>
    @Html.ActionLink("Добавить", "Create") |
    @Html.ActionLink("Статистика", "Stats")
</p>

@using (Html.BeginForm()) {
    <br />
    <div class="form-horizontal">
        <div class="col-md-3">
            <div class="form-group">
                @Html.EnumDropDownListFor(model => model.SearchParam, new { @Class = "form-control" })
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                @Html.EditorFor(model => model.SearchText, new { htmlAttributes = new { @Class = "form-control" } })
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <input type="submit" value="&#x1F50E;" class="btn btn-default" style="margin-left: 5px;" />
            </div>
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Name).ToString(), "Index",
                new
                {
                    sortParam = ProjectParamToSortBy.Name,
                    sortOrder = Model.NextSortOrder(ProjectParamToSortBy.Name),
                    searchParam = Model.SearchParam,
                    searchText = Model.SearchText
                })
        </th>
    </tr>
    
    @if (Model.Projects == null) {
        @Html.Raw("Нет данных")
    }
    else
    {
        foreach (var item in Model.Projects) {
            <tr style="cursor: pointer" onclick="location.href = '@(Url.Action("Details", new { id = item.Id }))'">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
        }
    }
</table>
<br />

Стр. @(Model.Projects.PageCount < Model.Projects.PageNumber ? 0 : Model.Projects.PageNumber) из @Model.Projects.PageCount

@Html.PagedListPager(Model.Projects, page => Url.Action("Index",
    new
    {
        sortParam = Model.SortParam, sortOrder = Model.SortOrder,
        searchParam = Model.SearchParam, searchText = Model.SearchText, page
    }))


@section Scripts {
    <script type="text/javascript">
        $("tr").not(':first').hover(
            function () {
                $(this).css("background","whitesmoke");
            },
            function () {
                $(this).css("background","");
            }
        );
    </script>
}
