@model Loansv2.Models.CreditPlan

@{
    ViewBag.Title = "Delete";
}

<h2>Вы уверены, что хотите удалить выдачу займа?</h2>

<h3></h3>
<div>
    <h4></h4>
    <p style="color: red; margin-top: 30px; margin-bottom: 15px" class="validation-summary-errors">@ViewBag.ConcurrencyErrorMessage</p>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.LoanAgreementId)
        @Html.HiddenFor(model => model.RowVersion)

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Перейти к договору", "Details", "LoanAgreement", new { id = Model.LoanAgreementId }, null)
        </div>
    }
</div>
