@model IEnumerable<Loansv2.Models.LoanViewModel>


@if (Model == null || !Model.Any())
{
    <p style="margin-bottom: 15px; margin-top: 15px">Нет данных</p>
}
else
{ 
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentType)
            </th>
            <th>
                @Html.Raw("Сумма")
            </th>
            <th>
                @Html.Raw("Остаток")
            </th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @item.DisplayTypeName()
            </td>
            <td>
                @($"{item.Value:N}")
            </td>
            <td>
                @($"{item.Aux:N}")
            </td>
        </tr>
    }

    </table>
}